.grid {
    /* min-height: 100vh; */
    margin: 10px;
    min-height: 95vh;
    display: grid;
    grid-template-columns: 40% 20% 40%;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    text-decoration: underline;
    
}
.col-1 {
    border: solid 10px rgb(0, 56, 147);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    padding-left: 20px;

}
.col-3 {
    display: grid;
    grid-template-rows: 50% 25% 25%;
}
.row-1 {
    background-color: aliceblue;
    border: solid 10px rgb(0, 56, 147);
    grid-column-end: 2;
}
.header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: x-large;
    padding-left: 20px;
}
.link {
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }
a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }
a:active {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}
a:link {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}
#colored-link {
    color: #0000EE;
    background-color: transparent;
    text-decoration: underline;
}