body {
    background-image: url(https://media.istockphoto.com/id/1351756759/photo/blue-curve-shapes-soft-defocused-blurred-motion-abstract-background.jpg?b=1&s=170667a&w=0&k=20&c=l3d4NBJA1tppryMSNmogfovn2AnWFDhvV8I04oko9dg=);
    background-size: cover;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 12mm;
}

.basic {
    margin-top: 100px;
    
}

img {
    height: 530px;
}

.carousel {
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 50px;
    padding-left: 60px;
}

#main {
    width: 500px;
    height: auto;
    padding-top: 100px;
}

.grid {
    /* min-height: 100vh; */
    display: grid;
    grid-template-rows: 10% 90%; 
    grid-template-columns: 40% 60%;

}

.row-1 {
    grid-column-start: 1;
    grid-column-end: 3;
   
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

#inactive {
    color: grey;
}